@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PPMori";
  src: url("/fonts/PPMori-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --primary-color: #1d1f1e;
  --secondary-color: #868684;
  --blue-color: #3250ec;
  --green-color: #6cdd50;
  --red-color: #e33024;
  --background-color: #efeeeb;
  --button-color: #1d1f1e;
  --card-color: #f8f7f3;
  --subtle-color: #e9e7e2;
  --line-color: #d7d7d3;
}

.dark {
  --primary-color: #efeeeb;
  --secondary-color: #c1c1be;
  --blue-color: #3250ec;
  --green-color: #6cdd50;
  --red-color: #e33024;
  --background-color: #1d1f1e;
  --button-color: #efeeeb;
  --card-color: #2c2b2a;
  --subtle-color: #2c2b2a;
  --line-color: #41403f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-weight: 600;
  font-family: "PPMori", sans-serif;
}

.relative:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
  transition-delay: 1s;
}

/* PAGE: HOME / ICON SPAIN - MY PHOTOS */
.photo:hover .photo {
  visibility: visible;
  opacity: 1;
  transform: rotate(-20deg);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

/* PAGE: HOME / HOVER DOS PROJETOS */
.project:hover .title {
  color: var(--blue-color);
  margin-left: 12px;
  text-decoration: underline;
}

.project:hover .icon {
  color: var(--blue-color);
  opacity: 100;
}

.project:hover .description {
  color: var(--primary-color);
}

.project:hover .img-wrapper .img {
  transform: scale(1.1);
}

/* PAGE: HOME / SECTION CONNECT - SOCIAL MEDIA */
.social {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.5s ease;
}

.social:hover {
  text-decoration-color: var(--primary-color);
}

/* PAGE: ABOUT / HOVER DO COMPONENT MUSIC AND INSPIRATION */
.music-item:hover img {
  transform: scale(1.1);
}

.music-item:hover p {
  color: var(--primary-color);
}

.music-item:hover span {
  color: var(--blue-color);
  scale: 1.1;
}

/* COMPONENTE PAGEFOOTER / HOVER DO ICONE DE SETA */
.icon:hover span {
  color: var(--blue-color);
}

.video {
  border: solid 0.75px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
}

@media (max-width: 550px) {
  body {
    background-color: red;
  }
}
